<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>MusiCity</h1>
    <% if logged_in? %>
      <h2>Welcome, <%=current_user.email%></h2>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% else %>
    <div class= "button_log">
      <a class = "button" href="<%=new_user_url%>">Sign Up</a>
      <a class = "button" href="<%=new_session_url%>">Sign In</a>
    </div>
    <% end %>
    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <%= error %>
     <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
