<% if type == :new %>
  <% action_url = users_url %>
  <% button_text = "Sign Up" %>
<% elsif type == :edit %>
  <% action_url = user_url(user) %>
  <% button_text = "Edit Artist" %>
<% end %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if type == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <label for="email">Email:
    <input type="text" name="user[email]" value="<%= user.email %>">
  </label>
  <br>
  <label for="password">Password:
    <input type="password" name="user[password]" value="<%= %>">
  </label>
  <br>
  <input type="submit" value="<%= button_text %>">
</form>

